::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-track{
    background-color:#1325F6 ;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background:#6083F9;
    border-radius: 50px;
}


#preloader {
    background: #000 url("img/loagingblock.gif") no-repeat center center;
    background-size: 6%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family:'Roboto',sans-serif;
    margin: 0%;
}

h1{font-size: 3.5em;}
h2{font-size:2.7em;}
h3{font: size 2em;}
p{font-size:1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size:1.5em;
    font-weight: bold;
    padding:10px 30px;
    border-radius:5px;
    border:1px solid black;
    box-shadow: 2px 2px 4px;
    color: white;
    background-color: #1E8BFB;
}

button:hover{
    background-color:#0A65C2;
}

.container{
    max-width: 1400px;
    margin: auto;
}
.color-acento{color:skyblue}

header{
    background-color:#1258BC ;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:#1E8BFB;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight:bold;
    color: black;
}
header a:hover{
    color:white
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/ceviche.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
}
#hero h1{
    color:white;
}

#hero h1{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
#nosotros{
    background-color: aliceblue;
    color: gray ;
    text-align: center;
}

#nosotros .container{
    padding: 100px 0px;
}
#nosotros h2{
    margin-top:0;
    font-size:2.5em ;
}
#nosotros h3{
    margin-top:0;
    font-size: 1.5em;
}
#nosotros p{
    display: none;
}

#nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 21px;
    border-radius:15px;
}
.carta:first-child{
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/chicharronpota.jpg");
}
.carta:nth-child(2){
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/johan2.jpg");

}
.carta:nth-child(3){
    color:white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/johan1.jpg");
}

#caracteristicas .container{
     text-align: center;
     padding: 200px 12px;
}

#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
}

#pide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#pide h2{
    font-size: 8vw;
     
}
#pide button{
    font-size: 3vw;
}

footer{
    background-color: rgb(red, green, blue);
}
footer p{
    margin:0;
    padding: 12px;
    color:rgb(100, 100, 100)
}
footer .container{
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
@media (min-width: 850px) {
    header{
        position: fixed;
        width:100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display:flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width:600px;
        text-align: initial;
        padding-left:30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #somos-proya h2{
        margin-top: 0px;
    }


    #somos-proya .img-container{
        background-image: url("img/somosproya.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px; 
    }

    #nosotros .programas{
        display: flex;
        justify-content: center;
    }
    #nosotros p{
        display: block;
        margin-bottom: 30px;
    }
    #nosotros .programas h3{
        margin-top: 0;
    }

    #nosotros .carta{
        padding: 15px;
    }

    #caracteristicas {
        background-image: url(img/background.jpg);
        background-repeat: no-repeat;
        background-size:840px 500px;
        background-position-x: 50vw;
        background-position-y: 30px;

    }

    #caracteristicas .container{
        text-align: initial;
        
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #pide h2{
        font-size: 5em;
    }

    #pide button{
        font-size: 2em;
    }
    
    footer .container{
        justify-content: flex-end;
    }
}